.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 20px 0px;
}

.header__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.header__title {
  font-family: Arturito;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: var(--color-dark);
}

/* Показываем сокращённый заголовок на мобильных */
.header__title--full {
  display: none;
}

.header__title--short {
  display: inline;
}

@media (min-width: 480px) {
  .header {
    padding: 20px 0px;
  }

  .header__title {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 20px 0px;
  }

  /* Показываем полный заголовок на планшетах и десктопах */
  .header__title--full {
    display: inline;
  }

  .header__title--short {
    display: none;
  }

  .header__title {
    font-size: 45px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 20px 0px;
  }

  .header__title {
    font-size: 55px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 30px 0px;
  }

  .header__title {
    font-size: 70px;
  }
}
