.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.header__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.header__title {
  font-family: Arturito;
  font-weight: 700;
  text-align: center;
  color: var(--color-dark);
}

@media (min-width: 360px) {
  .header {
    padding: 20px 0;
  }

  .header__title {
    font-size: 28px;
  }
}

@media (min-width: 480px) {
  .header {
    padding: 20px 0;
  }

  .header__title {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 20px 0;
  }

  .header__title {
    font-size: 45px;
  }
}

@media (min-width: 1024px) {
  .header {
    padding: 20px 0;
  }

  .header__title {
    font-size: 55px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 30px 0;
  }

  .header__title {
    font-size: 70px;
  }
}
