.category-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  max-width: 200px;
  padding: 20px 20px;
  gap: 10px;

  background-color: var(--color-white);
  box-shadow: 0px 13px 6px -3px rgba(192, 255, 251, 0.41);

  border: 1px solid var(--color-turquoise-lighter);
  border-radius: 15px;

  cursor: pointer;
  transition: all 0.3s ease;
}

.category-card:hover {
  border-color: var(--color-turquoise);
  border-width: 2px;
}

.category-card:hover .category-card__illustration {
  transform: scale(1.1);
}

.category-card__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.category-card__title {
  font-family: Lubrifont;
  font-size: 18px;
  font-weight: 400;
  text-align: center;

  color: var(--color-dark);
}

.category-card__illustration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.category-card__illustration {
  width: 100%;
  max-width: 70px;
  height: auto;
  object-fit: cover;

  border-radius: 10px;

  transition: transform 0.3s ease;
}

.category-card__description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.category-card__description {
  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  text-align: center;

  color: var(--color-dark);
}

@media (min-width: 480px) {
  .category-card {
    max-width: 300px;
    padding: 20px 20px;
    gap: 20px;

    box-shadow: 0px 14px 5.8px -2px rgba(192, 255, 251, 0.41);

    border-radius: 20px;
  }

  .category-card__title {
    font-size: 22px;
  }

  .category-card__illustration {
    max-width: 80px;

    border-radius: 20px;
  }

  .category-card__description {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .category-card {
    max-width: none;
    padding: 20px 20px;
    gap: 24px;

    box-shadow: 0px 15px 5.8px -5px rgba(192, 255, 251, 0.41);

    border-radius: 22px;
  }

  .category-card__title {
    font-size: 28px;
  }

  .category-card__illustration {
    max-width: 120px;

    border-radius: 20px;
  }

  .category-card__description {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .category-card {
    padding: 27px 20px;
    gap: 28px;

    box-shadow: 0px 13px 11.5px 4px rgba(192, 255, 251, 0.41);

    border-radius: 28px;
  }

  .category-card__title {
    font-size: 35px;
  }

  .category-card__illustration {
    max-width: 140px;

    border-radius: 20px;
  }

  .category-card__description {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .category-card {
    max-width: 500px;
    padding: 34px 20px;
    gap: 35px;

    box-shadow: 0px 13px 11.5px 4px rgba(192, 255, 251, 0.41);

    border-radius: 32px;
  }

  .category-card__title {
    font-size: 50px;
  }

  .category-card__illustration {
    max-width: 200px;

    border-radius: 20px;
  }

  .category-card__description {
    font-size: 24px;
  }
}
