/* ============================================
   ГЛОБАЛЬНЫЕ ШРИФТЫ
   ============================================ */

@font-face {
  font-family: Arturito;
  src: url("./assets/fonts/arturito.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lubrifont;
  src: url("./assets/fonts/WDXLLubrifontJPN-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter_28pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter_28pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter_28pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ============================================
   ГЛОБАЛЬНЫЕ СТИЛИ
   ============================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;

  background: var(--app-background-gradient);
}

img,
svg {
  user-select: none;
  pointer-events: none;
}

/* ============================================
   ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ
   ============================================ */
:root {
  --color-dark: #2b2b2b;
  --color-white: #ffffff;
  --color-turquoise-dark: #007f9a;
  --color-turquoise: #37dbff;
  --color-turquoise-lighter: #b1f1ff;
  --color-turquoise-light: #e9fdfc;
}

:root {
  --app-background-gradient: linear-gradient(
    180deg,
    var(--color-white) 0%,
    var(--color-turquoise-light) 100%
  );
}
